<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anmol.leaveapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/calender"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/calender"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".FinalThread" />
        <activity android:name=".DetailedActivity" />
        <activity
            android:name=".AppReceiveFinal"
            android:theme="@style/MyAppTheme" />
        <activity android:name=".thread" />
        <activity android:name=".Edit"></activity>
    </application>

</manifest>